* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background-color: #02101b;
  overflow: hidden;
}
.container {
  text-align: center;
  width: 80%;
  margin: 40px auto;
}
input {
  padding: 20px 5px;
  font-size: 40px;
  width: 80%;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  background-color: transparent;
}
input:focus {
  outline: none;
}
.calculator {
  margin-top: 50px;
}
td {
  height: 10px;
  font-size: 60px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
td:hover {
  background-color: #333;
}
.x:hover {
  background-color: crimson;
}
.del {
  color: crimson;
}
.del:hover {
  background-color: crimson;
  color: #fff;
}
.ac {
  color: rgb(17, 156, 63);
}
.ac:hover {
  background-color: rgb(17, 156, 63);
  color: #fff;
}
.eq {
  color: #006898;
}
.eq:hover {
  background-color: #006898;
  color: #fff;
}

@media (max-width: 768px) {
  input {
    font-size: 30px;
  }
  td {
    font-size: 45px;
  }
}