* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background-color: #02101b;
}
::-webkit-scrollbar {
  /* background-color: #006898; */
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 5px gray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #006898;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #009868;
}
.container {
  text-align: center;
  width: 80%;
  margin: 40px auto;
}
input {
  letter-spacing: 7px;
  padding: 20px 5px;
  font-size: 40px;
  width: 80%;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  background-color: transparent;
}
#result {
  padding: 5px 5px;
  border-bottom: none;
  color: gray;
  font-size: 18px;
}
input:focus {
  outline: none;
}
.calculator {
  margin-top: 50px;
}
table {
  max-height: 70vh;
}
td {
  min-height: 10px;
  font-size: 60px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
td:hover {
  background-color: #333;
}
.x:hover {
  background-color: crimson;
}
.del {
  color: crimson;
}
.del:hover {
  background-color: crimson;
  color: #fff;
}
.ac {
  color: rgb(17, 156, 63);
}
.ac:hover {
  background-color: rgb(17, 156, 63);
  color: #fff;
}
.eq {
  color: #006898;
}
.eq:hover {
  background-color: #006898;
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  input {
    font-size: 30px;
  }
  td {
    font-size: 45px;
  }
  td:hover,
  .del:hover,
  .ac:hover,
  .eq:hover {
    background-color: var(--bs-table-bg);
  }
  .eq:hover {
    color: #006898;
  }
  .ac:hover {
    color: rgb(17, 156, 63);
  }
  .del:hover {
    color: crimson;
  }
}
